<!DOCTYPE html>
<html>
    <head>
        <title>Solid State by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        @* Move stylesheets to a bundle *@
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/main.css" />
        <link rel="stylesheet" href="~/Content/fontawesome-all.min.css" />
        <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
    </head>
    <body id="body-content">
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="index.html">Solid State</a></h1>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    <a href="#" class="close">Close</a>
                </div>
            </nav>
            <div>
            @RenderBody()
            </div>
        </div>
        

        
        <!-- Scripts -->
        @* Move scripts to a bundle *@
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.scrollex.min.js"></script>
        <script src="~/Scripts/browser.min.js"></script>
        <script src="~/Scripts/breakpoints.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <script src="~/Scripts/main.js"></script>
    </body>
</html>