@{
    ViewBag.Title = "Home Page";
}

<section id="banner">
    <div class="inner">
        <div class="logo"><img src="~/Content/Images/meResize.png" /></div>
        <h2>Brandon Smith</h2>
        <p>My personal developer portfolio site</p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">What Do Web Devolopers do?</h2>
                <p>Web developers in short, create web applications. We write the code for the pages, the style to a website, and the scripts that add user interactivity.</p>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <a href="#" class="image"><img src="~/Content/Images/HTML_logo.png" alt="" /></a>
            <div class="content">
                <h2 class="major">Front-End</h2>
                <p>User Interface layer usually consisting of a mix of HTML, Javascript, CSS, Flash, and various server-side code like ASP.NET. Think of this as being closest to the user in terms of code.</p>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
        <div class="inner">
            <a href="#" class="image"><img src="~/Content/Images/JS_logo.png" alt="" /></a>
            <div class="content">
                <h2 class="major">Middle Tier</h2>
                <p>Middle-tier -> One tier back, generally referred to as the "plumbing" part of a system. JavaScript and C# are common languages for writing this part that could be viewed as the glue between the UI and the data.</p>
            </div>
        </div>
    </section>

    <section id="four" class="wrapper spotlight style3">
        <div class="inner">
            <a href="#" class="image"><img src="~/Content/Images/sqlLogo.png" alt="" /></a>
            <div class="content">
                <h2 class="major">Back-End</h2>
                <p>Databases and other data stores are generally at this level. Oracle, MS-SQL, MySQL, SAP, and various off-the-shelf pieces of software come to mind for this piece of software that is the final processing of the data.</p>
            </div>
        </div>
    </section>

    <section id="five" class="wrapper spotlight style3">
        <div class="inner">
            <a href="#" class="image"><img src="~/Content/Images/fullStack.png" alt="" /></a>
            <div class="content">
                <h2 class="major">Full Stack</h2>
                <p>So what is Full Stack? A full stack developer uses all 3 of the tiers of development to create complete websites.</p>
            </div>
        </div>
    </section>
</section>